In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
pd.set_option('display.min_rows', 500)

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = (5,3)

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('learningSet.csv')
df.shape

(95412, 481)

In [3]:
df.head(3)

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,MDMAUD,DOMAIN,CLUSTER,AGE,AGEFLAG,HOMEOWNR,CHILD03,CHILD07,CHILD12,CHILD18,NUMCHLD,INCOME,GENDER,WEALTH1,HIT,MBCRAFT,MBGARDEN,MBBOOKS,MBCOLECT,MAGFAML,MAGFEM,MAGMALE,PUBGARDN,PUBCULIN,PUBHLTH,PUBDOITY,PUBNEWFN,PUBPHOTO,PUBOPP,DATASRCE,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,STATEGOV,FEDGOV,...,RDATE_22,RDATE_23,RDATE_24,RAMNT_3,RAMNT_4,RAMNT_5,RAMNT_6,RAMNT_7,RAMNT_8,RAMNT_9,RAMNT_10,RAMNT_11,RAMNT_12,RAMNT_13,RAMNT_14,RAMNT_15,RAMNT_16,RAMNT_17,RAMNT_18,RAMNT_19,RAMNT_20,RAMNT_21,RAMNT_22,RAMNT_23,RAMNT_24,RAMNTALL,NGIFTALL,CARDGIFT,MINRAMNT,MINRDATE,MAXRAMNT,MAXRDATE,LASTGIFT,LASTDATE,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,,,,XXXX,T2,36,60.0,,,,,,,NaN,NaN,F,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,0,39,34,18,10,2,1,...,NaN,9408.0,9406.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,10.0,11.0,11.0,11.0,NaN,NaN,NaN,NaN,NaN,11.0,9.0,240.0,31,14,5.0,9208,12.0,9402,10.0,9512,8911,9003.0,4.0,7.741935,95515,0,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,,,,XXXX,S1,14,46.0,E,H,,,,M,1.0,6.0,M,9.0,16,0.0,0.0,3.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,3,0,15,55,11,6,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,3,1,10.0,9310,25.0,9512,25.0,9512,9310,9504.0,18.0,15.666667,148535,0,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,,,,XXXX,R2,43,NaN,,U,,,,,NaN,3.0,M,1.0,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3,0,20,29,33,6,8,1,...,9409.0,9407.0,9406.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,9.0,NaN,9.0,NaN,8.0,NaN,NaN,NaN,8.0,7.0,6.0,202.0,27,14,2.0,9111,16.0,9207,5.0,9512,9001,9101.0,12.0,7.481481,15078,0,0.0,1,L,4,E,X,X,X,60.0,C

# Data Cleaning

- create a list to collect features that we want want to drop

In [4]:
drop_list = []

## Null Values Check

In [5]:
null_check = pd.DataFrame(df.isna().sum() / df.shape[0] * 100, columns=['nan_percent'])
print('features with null values: ', null_check.query('nan_percent > 0').shape[0])
print('Features with null values > 80%: ', null_check.query('nan_percent > 80').shape[0])
null_check.query('nan_percent > 80')

features with null values:  92
Features with null values > 80%:  33

          nan_percent
NUMCHLD     87.018404
RDATE_3     99.746363
RDATE_4     99.705488
RDATE_5     99.990567
RDATE_6     99.186685
RDATE_7     90.677273
RDATE_9     82.461326
RDATE_10    89.035970
RDATE_11    84.551209
RDATE_13    87.160944
RDATE_15    92.388798
RDATE_17    90.146942
RDATE_19    83.359535
RDATE_20    91.732696
RDATE_21    90.029556
RDATE_23    91.763091
RDATE_24    81.409047
RAMNT_3     99.746363
RAMNT_4     99.705488
RAMNT_5     99.990567
RAMNT_6     99.186685
RAMNT_7     90.677273
RAMNT_9     82.461326
RAMNT_10    89.035970
RAMNT_11    84.551209
RAMNT_13    87.160944
RAMNT_15    92.388798
RAMNT_17    90.146942
RAMNT_19    83.359535
RAMNT_20    91.732696
RAMNT_21    90.029556
RAMNT_23    91.763091
RAMNT_24    81.409047

- add the features with more than 80% null values to drop list
- apply drop list to dataframe

In [6]:
drop_list.extend(null_check.query('nan_percent > 80').index)
len(drop_list)

33

In [7]:
df.drop(columns=drop_list, inplace=True)
df.shape

(95412, 448)

## Check selected categorical features

### OSOURCE and ZIP

In [8]:
df['OSOURCE'].head(3)

0    GRI
1    BOA
2    AMH
Name: OSOURCE, dtype: object

In [9]:
print('Amount of unique values in OSOURCE: ', len(df['OSOURCE'].unique()))

Amount of unique values in OSOURCE:  896

### Enrich ZIP data with longitude and latitude 
- could be used later to make sure that deographical data is included in model

In [10]:
df_geo = pd.read_excel('US_zip_lon_lat.xlsx')
df_geo.columns = [col.replace(' ', '_') for col in df_geo.columns]
print(df_geo.shape)

(41470, 14)

In [11]:
df['ZIP'].head(3)

0    61081
1    91326
2    27017
Name: ZIP, dtype: object

In [12]:
print('Amount of unique values in ZIP: ', len(df['OSOURCE'].unique()))

Amount of unique values in ZIP:  896

In [13]:
df_zip = pd.DataFrame(df['ZIP'])
df_zip['lon'] = 0
df_zip['lat'] = 0

In [14]:
df_zip.head(2)

     ZIP  lon  lat
0  61081    0    0
1  91326    0    0

In [15]:
# add lon and lat to translation table
for i, row in df_zip.iterrows():
    zip_clean = row['ZIP'].replace('-', '')
    geo_data = df_geo[df_geo['postal_code'] == int(zip_clean)]
    try:
        df_zip.at[i,'lon'] = float(list(geo_data['longitude'])[0])
        df_zip.at[i,'lat'] = float(list(geo_data['latitude'])[0])
       
    except TypeError:
        df_zip.at[i,'lon'] = np.nan
        df_zip.at[i,'lat'] = np.nan
    except IndexError:
        df_zip.at[i,'lon'] = np.nan
        df_zip.at[i,'lat'] = np.nan

In [16]:
df_zip.isna().sum()

ZIP      0
lon    344
lat    344
dtype: int64

In [17]:
# add target 
df_zip['TARGET_D'] = df['TARGET_D']
df_zip['TARGET_B'] = df['TARGET_B']
df_zip.head(3)

     ZIP       lon       lat  TARGET_D  TARGET_B
0  61081 -897054.0  418055.0       0.0         0
1  91326 -118582.0  342619.0       0.0         0
2  27017 -807101.0  363698.0       0.0         0

In [18]:
# drop nans
df_zip.dropna(inplace=True);

In [19]:
df_zip.isna().sum()

ZIP         0
lon         0
lat         0
TARGET_D    0
TARGET_B    0
dtype: int64

In [20]:
df_zip.corr()

               lon       lat  TARGET_D  TARGET_B
lon       1.000000 -0.072835 -0.013069 -0.010779
lat      -0.072835  1.000000  0.000899  0.000988
TARGET_D -0.013069  0.000899  1.000000  0.774086
TARGET_B -0.010779  0.000988  0.774086  1.000000

##### lon and lat data did not really help to establish correlation to target

- add OSOURCE and ZIP to drop list

In [21]:
drop_list.extend(['OSOURCE', 'ZIP'])

### GENDER

In [22]:
df['GENDER'].head(3)

0    F
1    M
2    M
Name: GENDER, dtype: object

In [23]:
print('Amount of unique values in GENDER: ', len(df['GENDER'].unique()))
print(df['GENDER'].unique())

Amount of unique values in GENDER:  7
['F' 'M' ' ' 'C' 'U' 'J' 'A']

In [24]:
df['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

- In GENDER we see that the most frequent category is F
- we will replace the empty / non values with this

In [25]:
df['GENDER'].replace(r'^\s+$',  df['GENDER'].mode()[0], regex=True, inplace=True)
df['GENDER'] = ['other' if g != 'F' and g != 'M' else g for g in df['GENDER'] ]
df['GENDER'].value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64

### Further investigation of numerical columns

In [26]:
numericals_null_check = pd.DataFrame(df.select_dtypes('number').isna().sum(), columns=['nulls'])
print('remaining cols with nulls ', numericals_null_check.query('nulls > 0').shape)

remaining cols with nulls  (58, 1)

In [27]:
numericals_null_check.query('nulls > 0').sort_values(by='nulls', ascending=False).head(10)

          nulls
RDATE_18  75634
RAMNT_18  75634
RAMNT_22  74539
RDATE_22  74539
RDATE_8   73940
RAMNT_8   73940
RDATE_14  72095
RAMNT_14  72095
RAMNT_12  69712
RDATE_12  69712

### Check for relationships between GEOCODE2, ADI, DMA and MSA

__GEOCODE2: County Size Code__

- all American counties are categorized as ABCD Counties by Nielsen
- ABCD Counties are based on the population totals of U.S. counties and their proximity to a metropolitan area or anchor city. Counties that fall in the A category are the largest by population while D counties are the smallest.

<br>

__ADI: ADI Code__

- Area of Dominant Influence
- is the geographical area or market accessed by a specific radio or television station. It is used by advertisers and rating companies to identify the station’s potential audience. This will help in determining how much the songwriter will be paid to broadcast on a given station.

<br>

__DMA: DMA Code__

- A Designated Market Area (often referred to as DMA) is an advertising term that stands for different regions in the United States divided into separate marketing areas. There are 210 distinct regions and each Designated Market Area has a 3-digit numeric code (e.g. Los Angeles’ DMA code is 803).  Designated Market Area is also referred to as “market area”.

- Originally a television advertising term, today marketers everywhere can use the Designated Market Area data for defining geographic areas. In online marketing, internet service providers (ISPs) provide companies with data on a user’s geographic location through IP addresses.
<br>

__MSA: MSA Code__


- Metropolitan statistical areas (MSA) are delineated by the U.S. OMB as having at least one urbanized area with a minimum population of 50,000.

- Metropolitan statistical area (MSA) is the formal definition of a region that consists of a city and surrounding communities that are linked by social and economic factors.
<br>

- since all of the 4 featurs are related to geography, the next step is to check the relations

In [28]:
# create a new df with only the four features
df_gadm = df[['GEOCODE2', 'ADI', 'DMA', 'MSA']]

In [29]:
df_gadm.head(2)

  GEOCODE2    ADI    DMA     MSA
0        C  177.0  682.0     0.0
1        A   13.0  803.0  4480.0

In [30]:
df_gadm.isna().sum()

GEOCODE2    132
ADI         132
DMA         132
MSA         132
dtype: int64

In [31]:
df_gadm.query('GEOCODE2 == " "').head(2)

    GEOCODE2  ADI  DMA  MSA
183           0.0  0.0  0.0
262           0.0  0.0  0.0

In [32]:

geo_group = df_gadm.query('GEOCODE2 != " "').groupby('GEOCODE2').agg(pd.Series.mode)
geo_group

            ADI    DMA     MSA
GEOCODE2
A          13.0  803.0  4480.0
B          67.0  862.0  6440.0
C         105.0  819.0     0.0
D         107.0  613.0     0.0

- The table above gives me the most occuring values (mode) based on GEOCODE2
- strategy to clean columns:
    - categorize geocode first and then take the respective mode values for the othe rfeaturs

A County: account for more than 40% of households in the United States.

B County: when combined, account for about 30% of all U.S. households.

C County: account for more than 15% of households in the United States.

D County: account 15% of all U.S. households.

    
source: https://www.investopedia.com/terms/a/abcd-counties.asp#:~:text=ABCD%20Counties%20are%20the%20way,broadly%20in%20advertising%20and%20media

In [33]:
def prepare_geocode_index():
    index_missing_geocode = df.index[df['GEOCODE2'].isna()].tolist()
    np.random.shuffle(index_missing_geocode)

    a = np.floor(len(index_missing_geocode) * 0.4)
    b = np.ceil(len(index_missing_geocode) * 0.3)
    c = np.ceil(len(index_missing_geocode) * 0.15)
    d = np.ceil(len(index_missing_geocode) * 0.15)
    
    assert (a+b+c+d) == len(index_missing_geocode)

    start_index = 0
    index_list = []
    
    for el in map(int,[a, b, c, d]):
        index_list.append(index_missing_geocode[start_index: start_index + el])
        start_index += el
    
    return index_list


def clean_geocode(l, s):
    ind = list(s.index)
    for i, el in enumerate(l):
        df['GEOCODE2'].iloc[el] = ind[i]
        df['ADI'].iloc[el] = s.iloc[i]['ADI']
        df['DMA'].iloc[el] = s.iloc[i]['DMA']
        df['MSA'].iloc[el] = s.iloc[i]['MSA']
        
clean_geocode(prepare_geocode_index(), geo_group)

In [34]:
# check after filling values
assert not df[['GEOCODE2', 'ADI', 'DMA', 'MSA']].isna().sum().any() != 0

### Check WEALTH1 feature

In [35]:
print('amount of nulls in WEALTH1 feature: ', df['WEALTH1'].isna().sum())
print('amount of nulls in WEALTH1 where INCOME has a value: ', df.query('not(INCOME.isna()) and WEALTH1.isna()').shape[0])
print('amount of nulls in WEALTH1 where INCOME has also nulls: ', df.query('INCOME.isna() and WEALTH1.isna()').shape[0])
print('unique values in WEALTH1: ', df['WEALTH1'].unique())
print('unique values in INCOME: ', df['INCOME'].unique())

amount of nulls in WEALTH1 feature:  44732
amount of nulls in WEALTH1 where INCOME has a value:  23446
amount of nulls in WEALTH1 where INCOME has also nulls:  21286
unique values in WEALTH1:  [nan  9.  1.  4.  2.  6.  0.  5.  8.  3.  7.]
unique values in INCOME:  [nan  6.  3.  1.  4.  2.  7.  5.]

Strategy:

- for all samples where INCOME has a value and WEALTH1 does not: input the mode for the respective INCOME category
- for all samples where INCOME and WEALTH are empty: replace with most frequent value for WEALTH1

In [40]:
wealth_income_agg = df.groupby('INCOME').agg(pd.Series.mode)['WEALTH1']
wealth_income_agg

INCOME
1.0    1.0
2.0    2.0
3.0    6.0
4.0    7.0
5.0    8.0
6.0    9.0
7.0    9.0
Name: WEALTH1, dtype: float64

In [77]:
# replace all WEALTH1 values with the most frequent ones for a particular INCOME
def clean_wealth_with_income(s):
    for i, inc in enumerate(s):
        df['WEALTH1'][(df['WEALTH1'].isna()) & (df['INCOME'] == i+1)] = s.iloc[i]
        
        
clean_wealth_with_income(wealth_income_agg)

In [78]:
print('amount of nulls in WEALTH1 feature: ', df['WEALTH1'].isna().sum())

amount of nulls in WEALTH1 feature:  21286

- Now ony NaNs for WEALTH1 are left where also INCOME is a NaN value
- I will replace all of them with most frequent value for WEALTH1

In [82]:
df['WEALTH1'].value_counts()

9.0    12312
8.0    11631
7.0     9973
6.0     8614
2.0     8381
1.0     6475
5.0     5280
4.0     4810
3.0     4237
0.0     2413
Name: WEALTH1, dtype: int64

In [86]:
df['WEALTH1'][df['WEALTH1'].isna()] = 9.0

In [87]:
print('amount of nulls in WEALTH1 feature: ', df['WEALTH1'].isna().sum())

amount of nulls in WEALTH1 feature:  0